<h2>Nice people around the world!</h2>
<table>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Option</th>
	</tr>
	<% @users.each do |u| %>
		<% unless u == current_user %>
		<tr>
			<td><%= u.first_name %></td>
			<td><%= u.last_name %></td>
			<td><%= u.email %></td>
			<td><a href="/friends/<%= u.id %>/new">Add <%= u.first_name %> as a friend</a></td>
		</tr>
		<% end %>
	<% end %>
</table>
